/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
    --orange: #d17600;
    --panel-color: rgba(0, 0, 0, 0.135);
    --panel-border-width: 0.1em;
    --panel-padding: 0.75em;

} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*grid layout*/
.top {grid-area: top;}
.hole1 {grid-area: hole1;}
.hole2 {grid-area: hole2;}
.hole3 {grid-area: hole3;}
.footer {grid-area: footer;}

body{
    background-image: url('../img/course3.jpg');
    background-attachment: fixed;
    background-size: auto;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
    text-align: center;
}
ul{
    list-style: none;
}

input[type="checkbox"] {
	display:none;
}
input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
	display: block;
}

.modal-background {
	width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 9998;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;	
    width: 300px;
    height: 300px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 9999;
}
.modal > p {
	padding: 15px;
    margin: 0;
}
.modal-header {
	background-color: #f9f9f9;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    height: 50px;
}
.modal-header h2 {
	margin: 0;
    box-sizing: border-box;
    padding-left: 15px;
    line-height: 50px;
    color: #4d4d4d;
    font-size: 32px;
    display: inline-block;
}
.modal-header label {
	box-sizing: border-box;
    border-left: 1px solid #dddddd;
    float: right;
    line-height: 50px;
    padding: 0 15px 0 15px;
    cursor: pointer;
}
.modal-header label:hover img {
	opacity: 0.6;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'top'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'grid-item'
    'footer';
    padding: 10px;
    gap: 60px;
  }

  .top {
      color: white;
  }

  .scorecardImg {
      max-width: 100%;
  }

/*cARD STYLING*/

.cardimg {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    height: 214px;
  }

  .card {
    /* Change background color */
    background-color: white;
  
    /* Add border */
    border: 1px solid #bacdd8;
  
    /* Add space between the border and the content */
    padding: 8px;
    margin: 2rem;
    border-radius: 12px;
  }
  
  /* Style div elements that have class equal to name */
  .name {
    font-size: 24px;
    font-weight: 600;
  
    margin-top: 16px;
  }
  
  /* Style p element */
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  
  /* Style button element */
  button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348efe;
    display: inline-flex;
    padding: 15px 35px;
    text-decoration: none;
    transition: background-color 200ms ease-in-out;
    align-items: center;
    margin:1rem 0rem;
    cursor: pointer;
  }

  /* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}
  
  .card__details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
  }

/* Header */
.header{
  background-color: var(--orange);
  box-shadow: 1px 1px 5px 0px var(--gray);
  position: sticky;
  top: 0;
  width: 101%;
  z-index: 1;
}
/* Logo */
.logo{
  display: inline-block;
  color: var(--white);
  font-size: 60px;
  margin-left: 10px;
  padding-top: 10px;
}

/* Nav menu */
.nav{
  width: 101%;
  height: 100%;
  position: sticky;
  background-color: var(--orange);
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease-out;
}
.menu a{
  display: block;
  padding: 30px;
  color: var(--white);
}
.menu a:hover{
  background-color: var(--gray);
}

/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: var(--white);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

footer {
  position: absolute;
  padding: 0 5% 0 5%;
  color: white;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}



/* Responsiveness */
@media (min-width: 900px) {
  body {
    background-image: url('../img/course4.JPG');
    background-size: 100% 100%;
  }
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: var(--gray);

  }

  .hamb-line {
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    'top top top'
    'grid-item grid-item  grid-item'
    'grid-item grid-item  grid-item'
    'grid-item grid-item  grid-item'
    'grid-item grid-item  grid-item'
    'grid-item grid-item  grid-item'
    'grid-item grid-item  grid-item'
    'footer footer footer';
  }

  .grid-item {
    font-size: 30px;
    text-align: center;
  }
  
  .footer {
    color: white;
    bottom: 0;
    width: 100%;
    margin-top: 2.5rem;
    height: 2.5rem;            /* Footer height */
  }

  .modal {
      width:800px;
  }
}
